body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.math {
    font-style: italic;
}
.formula {
    margin: 1em 0;
    text-align: center;
}
.definition {
    margin-left: 2em;
}



/*
h3 {
    font-size: 1.5rem;
}
p, li, label, input, textarea, button {
    font-size: 1.1rem;
}
.glitch-text {
    font-size: 3.5rem;
}
nav ul li a {
    font-size: 1.1rem;
}
#frontespizio h2 {
    font-size: 1.8rem !important;
}
#frontespizio p {
    font-size: 1.2rem !important;
} */




#frontespizio {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* Assicura che occupi l'intera altezza della finestra */
    padding: 2rem;
}

#frontespizio div img {
    height: 50px;
    transition: transform 0.3s ease;
}

#frontespizio div img:hover {
    transform: scale(1.1);
    /* Effetto hover per ingrandire leggermente i loghi */
}

#frontespizio h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
}

#frontespizio h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #fff;
}

#frontespizio p {
    font-size: 1rem;
    color: #ccc;
    max-width: 600px;
    margin: 1rem 0;
}

header {
    position: fixed;
    /* Fissa la navbar in alto */
    top: 0;
    /* Posiziona la navbar in cima alla pagina */
    left: 0;
    width: 100%;
    /* Assicura che la navbar occupi tutta la larghezza */
    background: #333;
    /* Colore di sfondo */
    color: #fff;
    /* Colore del testo */
    padding: 1rem;
    /* Spaziatura interna */
    z-index: 1000;
    /* Assicura che la navbar sia sopra gli altri elementi */
    display: flex;
    /* Per allineare gli elementi su una riga */
    justify-content: space-between;
    /* Spaziatura tra titolo e menu */
    align-items: center;
    /* Allineamento verticale */
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 10px;
    margin-right: 40px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.glitch-text {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: glitch 1s infinite;
}

code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 5px;
    font-family: monospace;
    color: #333;
}

#dataset {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#dataset img {
    max-width: 300px;
    border-radius: 10px;
}